version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: it4409-fe-container
    ports:
      - "42070:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
